{% extends 'base.html.twig' %}

{% block body %}

    <div class="grid w-10/12 mx-auto grid-cols-4 p-[5rem] gap-6">
        {% for card in cards %}
            <div>
                <div>
                    <img src="{{ card.pictureUrl }}" alt="" class="w-1/4">
                </div>
                <h2 class="font-semibold">{{ card.title }}</h2>
                <p>{{ card.description }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}