{% extends 'base.html.twig' %}

{% block body %}

    <div class="w-full h-[100vh] flex justify-center items-center">
        <div class="flex gap-20">
            <div class="flex flex-col justify-between">
                <div>
                    <h2><a href="">Profile</a></h2>
                </div>
                <div>
                    <h2><a href="{{ path('app_cards') }}">Bonne pratiques</a></h2>
                </div>
                <div>
                    <h2><a href="{{ path('app_quizz') }}" id="begin">Commencer le quizz</a></h2>
                </div>
            </div>
            <div>
                <h2>Classement</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in ranks %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>


    <script>
        const begin = document.getElementById('begin');
        begin.addEventListener('click', () => {
            sessionStorage.setItem('score', 0);
        })

    </script>

{% endblock %}
