{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="w-full h-[100vh] flex justify-center items-center">
        <div class="flex gap-20">
            <div class="flex flex-col justify-between">
                <div>
                    <h2><a href="">Profile</a></h2>
                </div>
                <div>
                    <h2><a href="">Bonne pratiques</a></h2>
                </div>
                <div>
                    <h2><a href="{{ path('app_quizz') }}">Commencer le quizz</a></h2>
                </div>
            </div>
            <div>
                <h2>Classement</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in ranks %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>
#}

    <section class="w-full h-[100vh] flex justify-center items-center">

        <div class=" ml-[160px] mt-[300px] flex">
            <div>
                <h1 class="text-[64px] " >
                    Questionnnaire
                </h1>
                <p class="pt-[30px] max-w-[630px]">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, .
                </p>

                <button class="rounded-full h-[60px] w-[240px] bg-blue-300 ml-[350px] mt-[50px]">
                    Démarer le quizz
                </button>
            </div>
            <img class="ml-[295px]" src={{ asset('img/home.png') }}>
        </div>


    </section>
{% endblock %}
