{% extends 'base.html.twig' %}

{% block body %}
<div class="flex h-[100vh] justify-center items-center">
    <div>
        <img src="" alt="" class="w-[50px] h-[50px] bg-gray-500 rounded-full">
    </div>
    {% if (app.user != '') %}
        <input type="text" name="name" id="name" placeholder="Nom">
    {% endif %}
</div>
{% endblock %}