{% extends 'base.html.twig' %}

{% block body %}

    <div>

    </div>
    <h1>{{ question.title }}</h1>
    <p>{{ question.answer1 }}</p>
    {% if nextQuestion is not null %}
        <a href="{{ path('app_question', {id: nextQuestion.id}) }}">Question suivante</a>
    {% else%}
        <a href="">Valider</a>
    {% endif %}
{% endblock %}