
body{
	@apply font-bold font-normal
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	body{
		font-family: 'Nunito', sans-serif;
	}
}

input{
	@apply border-2 border-black;
}

.progress-bar{
	content: '';
}

.solutions{
	transition: all .6s ease;
}

.ranking{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	font-weight: 500;
	font-size: 18px;
}

.ranking img{
	width: 70px;
}

.rank-wrapper{
	overflow-y: auto;
}

.reward-card{
	width: 300px;
	font-size: 18px;
	background: white;
	border-radius: 50px;
	padding: 2rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
	font-weight: 500;
}

.reward-card img{
	width: 200px;
}

.flash-card{
	border: 5px solid #d5d5d5;
	border-radius: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 320px;
	padding: 2rem 2.5rem;
	gap: 2rem;
	background-image: url("../../public/img/blue.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	color: white;
}
@media (max-width: 1024px) {
	.reward-card{
		border-radius: 0px;
		border: none;
	}
	.reward-card p{
		display: none;
	}
	.bleft{
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;
	}
	.bright{
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}
}

.flash-red{
	background-image: url("../../public/img/red.png");
}

.flash-card img{
	width: 60%;
}

.flash-card h3{
	font-size: 2rem;
}

.flash-card p{
	font-size: 0.8rem;
}