@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

h1,h2,h3,h4,h5,h6{
	@apply font-bold font-normal
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	h1,h2,a,p{
		font-family: 'Nunito', sans-serif;
	}
}

input{
	@apply border-2 border-black;
}

.progress-bar{
	content: '';
}

.solutions{
	transition: all .6s ease;
}