<header>
    <section>
        <div class="menu">
            <div>
                <h2>
                   Acceuil
                </h2>
            </div>
            <div>
                <h2>
                    Questionnaire
                </h2>
            </div>
            <div>
                <h2>
                    Logo
                </h2>
            </div>
            <div>
                <h2>
                    Solutions
                </h2>
            </div>
            <div>
                <h2>
                    Login
                </h2>
            </div>
        </div>
    </section>
</header>