<header>
    <section>
        <div class="menu">
            <div class="m-acceuil">
                <h2>
                   Acceuil
                </h2>
            </div>
            <div class="m-question">
                <h2>
                    Questionnaire
                </h2>
            </div>
            <div class="m-logo">
                <h2>
                    Logo
                </h2>
            </div>
            <div class="m-solution">
                <h2>
                    Solutions
                </h2>
            </div>
            <div class="m-login">
                <h2>
                    Login
                </h2>
            </div>
        </div>
    </section>
    <div>
        <img src="" alt="">
    </div>
    <nav>
        <ul class="flex gap-4">
            <li><a href="{{ path('app_index') }}">Accueil</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        </ul>
    </nav>
</header>