<header class="w-full flex justify-between py-4 px-8">
    <div>
        <img src="" alt="">
    </div>
    <nav>
        <ul class="flex gap-4">
            <li><a href="{{ path('app_index') }}">Accueil</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        </ul>
    </nav>
</header>